 <!-- 尾部 start-->
    <footer id="footer">
        <div class="why_select">
            <dl>
                <dt class="fl">

                </dt>
                <dd>
                    <h1>书籍齐全</h1>
                    <h2>书籍全自主选，随心买</h2>
                </dd>
            </dl>
            <dl>
                <dt class="fl">

                </dt>
                <dd>
                    <h1>便利快捷</h1>
                    <h2>24小时不打烊，随时买</h2>
                </dd>
            </dl>
            <dl>
                <dt class="fl">

                </dt>
                <dd>
                    <h1>安全支付</h1>
                    <h2>知名支付工具，放心买</h2>
                </dd>
            </dl>
            <dl>
                <dt class="fl">
                </dt>
                <dd style="margin-right:0px;">
                    <h1>贴心服务</h1>
                    <h2>客服全年无休，安心买</h2>
                </dd>
            </dl>
        </div>
        <div class="company">
            <p>中北大学NUCSELL，张振东独立开发  <a href="admin.html">后台管理系统</a></p>

        </div>
    </footer>